<% @booksmarks.each do |booksmark| %>
    <tr>
        <td><%= booksmark.name %></td>
        <td><%= booksmark.url %></td>
        <td><% id = booksmark.assemblies[0].category_id %>
            <%= Category.find(id).name %>
        </td>
        <td><% id = booksmark.relations[0].type_id %>
            <%= Type.find(id).name %>
        </td>
        <td><%= link_to 'Show', booksmark , remote: true %></td>
        <td><%= link_to 'Edit', edit_booksmark_path(booksmark) , remote: true%></td>
        <td><%= link_to 'Destroy', booksmark, method: :delete, data: { confirm: 'Are you sure?' }, remote: true%></td>
    </tr>
<% end %>